*.ini
*.pyc
*.txt
*.ods
*.ods#

*.csv
!tests/e2e/datasets/*.csv
!tests/unit_tests/utility/result_structure_test/datasets/mixed_features_regression.csv
!tests/unit_tests/utility/result_structure_test/results/result_structure_test/error_log.txt

.coverage
*_Results/
regression-test/*
classification-test/*
dev/*
docs/build/*
CHANGELOG.md

!docs/requirements.txt

dev_report.html
working_report_data.json

*.pyc
.DS_Store

old_suite/*